extends ../includes/layout-main
block content
  main.ml-sm-auto.px-md-4(role='main')

    include ./../includes/list/layout-list-header

    table#example.table(style='width:100%')
      thead
        tr
          th #
          th Username
          th Access Role
          th Account Type
          th Updated Time
          th.actions
            if ((page.actions[0] && page.actions[1]) == true)
              include ./../includes/list/layout-list-plus
      tbody
  script.
    $(document).ready(function() {
      pageEntry = '!{page.entry.url}';

      $.fn.dataTable.ext.errMode = 'none';
      $.fn.dataTable.ext.classes.sPageButton = 'btn btn-sm btn-secondary m-1'; 

      table = $('#example').on('error.dt', function(e, settings, techNote, message) {
          console.log('DataTable Error: ', message);
          alert('Read data is failed!');
        }).DataTable({...dataTableDef({ expFileName: "!{page.list.title}" }),
          "ajax": {
            "url": "./api" + '!{page.list.url}',
            "headers": {"authorization": "Bearer " + token},
            "dataSrc": "data",
          },
          "columns":  [
            { "data": "id" },
            { "data": "username"},
            { "data": "role"},
            { "data": "active"},
            { "data": "updated_at"},
            { "data": "actions", "className":"nowrap" }
          ],
          "columnDefs": [
            { targets: 0, render: dataTableIndexRenderer() },
            { targets: 3, render: dataTableActiveRenderer() },
            { targets: 4, render: dataTableDateTimeRenderer() },
            { targets: 5, orderable: false, render: dataTableActionsRenderer(
                ".!{page.entry.url}", "!{page.actions}"
              )
            }
          ]
      });
    });